

* {
    color: orange;
}

h1 {
    color: blue;
    background-color: #cc55ee;
    letter-spacing: 200px;
}

p {
    text-align: center;
    text-decoration: underline blue ;
    line-height: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-weight: 700;
}


h1, h3 {
font-size:100px;
}

#id {
    color: red;
}

.class {
    text-align: right;
}


/* this below is an example of whatever p follows a h1 will be green*/
h1 + p {
    color: green
}

/*this below is an example of picking the direct descendant in an element*/

nav > ul {
    color: violet;
}

/*this is an example of attribute selector*/

input[type-password] {
    color: greenyellow;
}

/* this is an example of psuedo classes*/
a:hover {
    color: black;
}


/*e xample of psuedo elements*/
h1::first-letter{
    font-size: 50px;
}

p::selection {
    background-color: green;
}