* {
    color: orange;
}

h1 {
    color: blue;
    background-color: #cc55ee;
    letter-spacing: 200px;
    border: solid black 10px;
    border-left-style: groove;
    border-top-style: dotted;
    border-radius: 50%;
    padding: 50px;
}

p {
    text-align: center;
    text-decoration: underline blue ;
    line-height: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-weight: 700;
}


h1, h3 {
font-size:100px;
}

#id {
    color: red;
}

.class {
    text-align: right;
}


/* this below is an example of whatever p follows a h1 will be green*/
h1 + p {
    color: green
}

/*this below is an example of picking the direct descendant in an element*/

nav > ul {
    color: violet;
}

/*this is an example of attribute selector*/

input[type-password] {
    color: greenyellow;
}

/* this is an example of psuedo classes*/
a:hover {
    color: black;
}


/*e xample of psuedo elements*/
h1::first-letter{
    font-size: 50px;
}

p::selection {
    background-color: green;
}

/* border notes*/
/* box-sizing: border-box; this makes the width all together with the bn=order in mind.
you can inset border. more then one styles on one border.*/

section {
    background-color: gray;
    width: 800px;
    height: 800px;
}

div {
    background-color: pink;
    width: 50%;
    height: 50%;
}

h4 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%; /* size is respect to parent element*/
}

h5 {
    font-size: 2em; 
}

article {
    font-size: 30px;
}

#em_practice {
    font-size: 0.5em; 
}


/*css transitions*/

.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: all 1s 1s;
    
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
    margin-left: 200px;
}



/*CSS tranforms*/